.searchRoot {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-bottom: 64px;
    align-items: center;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .loadingSpinner {
        display: flex;
        color: #869f77 !important;
    }

    .loadingSpinner > * {

    }
}

.searchInput {
    max-width: 600px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.searchButton {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--brand-pink);
    transition: background-color 0.3s ease;
    color: var(--graphite-text);
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background-color: var(--brand-pink-hover);
    }
}

.resultSection {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .cardContent {
        border-radius: 12px;
    }

    .answerCard {
        border-radius: 12px;
        padding: 12px 16px;
    }

    .answerText {
        font-size: 18px;
        line-height: 1.6;
    }
}

.sourceContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-auto-rows: auto; /* auto height for rows */
    gap: 12px; /* adjust the gap between grid items */
}
