.cardRoot {
    border-radius: 12px !important;

    .cardActionArea {
        display: flex !important;
        flex-direction: column;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 16px;
        height: 100%;
        width: 100%;
    }
}

.hoveredViaCitation span {
    opacity: 0.08;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
    width: 100%;
    padding: 16px 20px;
}

.position {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 8px;
    font-weight: bold;
}

.favicon {
    --width: 19px;
    width: var(--width);
    height: var(--width);
    margin-right: 8px;
}

.displayedLink {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    font-size: 12px;
}

.content {
    margin-left: 32px;
}

.thumbnail {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 8px;
}

.snippet {
    margin-bottom: 8px;
}

.metadata {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    gap: 16px;
    color: #666;
    font-size: 14px;
}
